*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat',sans-serif;
}


.titulo{
  margin: 3rem;
  font-size: 38px;
  font-weight: bolder;
  color: #FF5A5F;
}

.titulo .subtitulo{
  color: #000000;
}