.card{
    width: 30%;
    height: auto;
    margin:1rem;
    align-items: center;
}



small{
    font-size: 10px;
}

button{
    display: block;
    flex: 1;
    align-items: stretch;
}

Link{
    text-decoration: none;
}