.card{
    width: 30%;
    height: auto;
    margin:1rem;
    align-items: center;
}



small{
    font-size: 10px;
}

.cardBtn{
    display: block;
    flex: 1;
    bottom: 0;
    transform: translateY(10%);
}
